body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

/* TOPO PRIMEIRÃO */
.topo {
  text-align: center;
  padding: 35px 15px;

  background: linear-gradient(
    135deg,
    #00c6ff,
    #0072ff,
	#072bc9, 
    #350453
  );
}

/* FOTO EM CIMA */
.foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 8px;

  box-shadow: 0 0 20px rgba(255,255,255,0.4);
}

/* TEXTO TOPO */
.topo h1 {
  margin: 5px 0;
  font-size: 32px;
}

.topo p {
  margin: 0 0 15px;
}

/* MENU */
nav a {
  color: white;
  margin: 0 12px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* SEÇÕES */
.secao {
  max-width: 900px;
  margin: auto;
  padding: 50px 20px;
}

h2 {
  color: #53ea4a;
  margin-bottom: 20px;
}

/* CARDS 12 SEMANAS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  background: #111;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid rgba(255,255,255,0.1);

  transition: 0.2s;
}

.card:hover {
  transform: scale(1.03);
  border-color: #53ea4a;
}

/* BOTÕES */
.botao {
  display: inline-block;
  margin: 10px 10px 0 0;
  padding: 10px 18px;
  background: #53ea4a;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
}

.botao:hover {
  opacity: 0.85;
}

/* LINKS */
a {
  color: #53ea4a;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: gray;
}